body {
    background-color: whitesmoke !important;
}
header {
    background-color: #03cf8b;
    height: 50px;
    box-shadow: 1px 1px 9px 1px #453b35;
    font-family: Lobster;
    display: flex !important;
    display: -webkit-flex;
    flex-direction: row;
    justify-content: space-between;
}
header > div:first-child {
    color: whitesmoke;
    text-shadow: 2px 2px 2px #453b35;
    font-size: 30px;
    padding-left: 30px;
}
header > div:last-child {
    padding-top: 10px;
    padding-right: 30px;
}
header > div > a {
    margin-right: 30px;
    color: rgba(245, 245, 245, 0.84);
    font-size: 20px;
}
header > div > a:hover, header > div > a:link, header > div > a:visited {
    text-decoration: none;
    color: rgba(245, 245, 245, 0.84);
}
section {
    margin-top: 10px;
    font-family: Lobster;
}
#sudokuTable {
    margin: auto;
    text-align: center;
    border: 4px solid #d7d7d7;
}
#sudokuTable > tbody > tr:nth-child(3n):not(:last-child) {
    border-bottom: 4px solid #d7d7d7;
}
#sudokuTable > tbody > tr > td {
    border: 1px solid #d7d7d7;
    width: 50px;
    height: 50px;
}
#sudokuTable > tbody > tr > td:not(.emptyCell) {
    background-color: #ececec;
    font-size: medium;
}
#sudokuTable > tbody > tr > td.emptyCell:not(.selected):hover {
    background-color: white;
}
#sudokuTable > tbody > tr > td:nth-child(3n):not(:last-child) {
    border-right: 4px solid #d7d7d7;
}
.emptyCell {
    background-color: rgba(255, 255, 255, 0.31);
}
.selected {
    background-color: rgba(255, 47, 145, 0.09);
}
.warning {
    color: #e32a80;
}
.emptyCell.success {
    color: #03bd7e;
}
#numbers {
    position: absolute;
    z-index: 10;
    margin-top: -25px;
}
#numbers tr td {
    width: 20px;
    height: 20px;
    background-color: #03cf8b !important;
    border: 1px solid #d7d7d7;
}
#numbers tr td a, #numbers tr td a:hover:active:visited:link {
    text-decoration: none;
    color: whitesmoke;
}